/* Need to implement mobile css */
body {
 font-family: "Dejavu Sans";
 display: flex;
 font-size: 16pt;
 flex-direction: column;
 background: slategrey;
 color: seashell;
}

@media screen and (max-aspect-ratio: 1) {
 body {
  font-size: 24pt;
 }
}

a {
 color: darksalmon;
}

header {
 border-bottom: solid;
 display: flex;
 justify-content: center;
 text-align: center;
}

main {
 min-height: 75vmin;
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 flex-direction: column;
}

svg {
 display: block;
}

main > svg {
 width: 90vmin;
 height: 90vmin;
}

main > figure {
 width: 80vmin;
}

a {
 font-weight: bold;
}

footer {
 border-top: solid;
}


.flipper {
 transform-origin: center;
}

.up {
 transform: rotate(0turn);
}

.right {
 transform: rotate(.25turn);
}

.down {
 transform: rotate(.5turn);
}

.left {
 transform: rotate(.75turn);
}
